<nav class="navbar navbar-dark navbar-expand-lg navbar-custom">
  <a class="navbar-brand" href="#">
    <img src="/assets/xenon-logo.jpg" width="30" height="30" alt="">
  </a>
  <div class="collapse navbar-collapse flex-row-reverse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Make Request <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/view-requests">View Requests</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/auth/login">Log Out</a>
      </li>
    </ul>
  </div>
</nav>