<form class="request__query-form--form">
	<div class="form-row request__query-form--row">
    <input type="hidden" id="runNumbers" name="runNumbers">
		<div class="col request__query-form--dropdowns">
			<label class="request__query-form--label" for="priority">Priority</label>
			<select id="priority" class="form-control">
        <option selected>Select one...</option>
        <option>10</option>
        <option>9</option>
        <option>8</option>
        <option>7</option>
        <option>6</option>
        <option>5</option>
        <option>4</option>
        <option>3</option>
        <option>2</option>
        <option>1</option>
      </select>
		</div>
		<!-- <div class="col request__query-form--dropdowns">
			<label class="request__query-form--label" for="location">Location</label>
			<select id="location" class="form-control">
        <option selected>Select one...</option>
      </select>
		</div> -->
		<div class="col request__query-form--dropdowns">
			<label class="request__query-form--label" for="environment">Environment</label>
			<select id="environment" class="form-control">
        <option selected>Select one...</option>
      </select>
		</div>
		<div class="col request__query-form--dropdowns">
			<label class="request__query-form--label" for="context">Context</label>
			<select id="context" class="form-control">
        <option selected>Select one...</option>
      </select>
		</div>
    <div class="col request__query-form--dropdowns">
			<label class="request__query-form--label" for="type">Type</label>
			<select id="type" class="form-control">
        <option selected>Select one...</option>
      </select>
		</div>
		<div class="col request__query-form--dropdowns">
			<label class="request__query-form--label" for="comments">Comments</label>
			<input type="text" class="form-control">
		</div>
	</div>
	<div class="form-row mt-24">
		<input class="btn btn-primary" type="submit" value="Submit">
	</div>
</form>