<div class="request__query-box">
  <div class="request__query-form">
    <input class= "request__query-box--input " type="text" id="query" name="query" placeholder="Enter run number, list of run numbers, or mongo query">
    <button class="btn btn-primary" id="preview-btn" onclick="CheckQuery()">Preview</button>
  </div>
</div>