<form method='POST' action='/submit-request' class="request__query-form--form">
  <div class="form-row request__query-form--row">
    <input type="hidden" id="runNumbers" name="runNumbers">
    <div class="col request__query-form--dropdowns">
      <label class="request__query-form--label" for="priority">Priority</label>
      <select id="priority" name="priority" class="form-control" required>
        <option value="" selected disabled>Select one...</option>
        <% if (user.computing == true) { %>
          <option>10</option>
        <% } %>
        <% if (user.ac == true) { %>
          <option>9</option>
          <option>8</option>
          <option>7</option>
         <% } %>
        <option>6</option>
        <option>5</option>
        <option>4</option>
        <option>3</option>
        <option>2</option>
        <option>1</option>
      </select>
    </div>
    <div class="col request__query-form--dropdowns">
      <label class="request__query-form--label" for="destination">Destination</label>
      <select id="destination" name="destination" class="form-control">
        <option value="SURFSARA_USERDISK">SURFSARA_USERDISK</option>
        <option value="SDSC_USERDISK">SDSC_USERDISK</option>
        <option value="LNGS_USERDISK">LNGS_USERDISK</option>
        <option value="UC_OSG_USERDISK">UC_OSG_USERDISK</option>
        <option value="UC_DALI_USERDISK" selected>UC_DALI_USERDISK</option>
        <option value="CNAF_USERDISK">CNAF_USERDISK</option>
      </select>
    </div>
		<div class="col request__query-form--dropdowns">
			<label class="request__query-form--label" for="environment">Environment</label>
			<select id="environment" name="environment" class="form-control" required>
				<option selected disabled value="">Select one...</option>
			</select>
		</div>
		<div class="col request__query-form--dropdowns">
			<label class="request__query-form--label" for="context">Context</label>
			<select id="context" name="context" class="form-control" required>
				<option selected disabled value="">Select one...</option>
			</select>
		</div>
    <div class="col request__query-form--dropdowns">
			<label class="request__query-form--label" for="type">Type</label>
			<select id="type" name="type" class="form-control" required>
				<option selected disabled value="">Select one...</option>
			</select>
		</div>
		<div class="col request__query-form--dropdowns">
			<label class="request__query-form--label" for="comments">Comments</label>
			<input type="text" class="form-control">
		</div>
	</div>
	<div class="form-row mt-24">
		<input class="btn btn-primary" type="submit" value="Submit">
	</div>
</form>