<div class="request__query-box">
  <form class="request__query-form">
    <input class= "request__query-box--input " type="text" id="query" name="query" placeholder="Enter run number, list of run numbers, or BSON query">
    <input class="btn btn-primary" type="submit" value="Submit">
  </form>
</div>