<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('components/head') -%>
</head>
<body class="bg-light">
  <%- include('components/navbar') -%>
  <div class="container">
    <div class="row mt-24 mb-24">
      <%- include('components/request__query-box') -%>
    </div>
  </div>
</body>