.bg-blue {
  background-color: #06094E;
}

.bg-bright-blue {
  background-color:#0C1178;
}

.btn-blue {
  background-color: #497DD2;
}

.mt-24 {
  margin-top: 24px;
}

.mt-36 {
  margin-top: 36px;
}

.mb-24 {
  margin-bottom: 24px;
}

.pb-24 {
  padding-bottom: 24px
}

.pt-72 {
  padding-top: 72px
}

.pl-10 {
  padding-left: 10px
}

.empty-space-100 {
  height: 100px;
}

.white-95 {
  color:rgba(255, 255, 255, 0.95);
}

/* Page specific */
.navbar-custom {
  background-color: #0C1178;
  padding-left: 32px;
  padding-right: 32px;
}

/* Log in page */
.login-module {
  margin-top: 100px!important;
  background-color: #ffffff;
  padding: 40px 50px 40px 50px !important;
  border-radius: 3px;
  text-align: center;
  color: rgba(0, 0, 0, 0.80);
}
.login-module h1 {
  font-size: 24px;
}
.login-btn {
  width:100%;
  padding:8px;
  margin-top:10px;
  font-size:medium;
}

.login__modal {
  padding: 10px 40px 30px 40px;
}

.login__modal-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 24px;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.request__query-box {
  display: flex;
  background-color: white;
  box-shadow: -4px 8px 8px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}

.request__query-box--input {
  width: 100%;
  border: none;
  box-shadow: none;
}

.request__query-form {
  display: flex;
  width: 100%;
  padding: 12px;
}

.request__query-form--form {
  padding: 0px!important;
}

.request__query-form--row {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.request__query-form--label {
  margin-bottom: 8px;
}

.request__query-form--dropdowns {
  min-width: 200px;
}

.request__query-form--run-list {
  background-color:white;
  border:1px solid #ced4da;
  border-radius:.25rem;
  padding:16px 12px 8px 12px;
}

.dataTable td {
  overflow: hidden; /* this is what fixes the expansion */
  text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
  white-space: nowrap;
  text-align: center;
}

.view__label {
  color: white;
  border-radius: 2px;
  font-size: 11px;
  text-align: center;
  margin: 0px;
  padding: 6px;
  width: 80px;
}

.submitted {
  background-color: var(--bs-gray-600);
}

.in-progress {
  background-color: var(--bs-yellow);
}

.completed {
  background-color: var(--bs-green);
}

.error {
  background-color: var(--bs-red);
}